{% extends 'base.html' %}

{% block title %}
Area info
{% endblock title %}


{% block body %}

<div class="main">
<div><ul></ul>
</div>
   
        <div class="col-md-12 text-center">
        <a href="#alogin"><button type="button" class="btn btn-primary btn-lg ">Add Area</button></a>
    </div>
    <ul >
</ul>
</div>
<div class="col-md-12 text-center">
<a href="#alogin"><button type="button" class="btn btn-warning btn-lg ">Update Area</button></a>
</div>
<div>
<ul></ul>
</div>
<div class="col-md-12 text-center">
<a href="#"><button type="button" class="btn btn-danger btn-lg " >Delete Area</button></a></div>
{% endblock body %}